body{
    
    background:rgb(250, 158, 158);
    background-image: url('chocolate.jpeg');
    background-repeat: no-repeat;
}


button{
    padding: 12px 10px;
    border-radius: 8px;
    border: none;
    background-color: red;
    color: white;

}
