body{
    height: 100vh;
    background: url(water.jpg) no-repeat center center /cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 60%;
    height: 250px;
    background-color: white;
    border-radius: 30px;
    box-sizing: 0 0 3px;
}

#timer{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0 auto;
    padding-top:35px ;

}

.buttons{
    text-align: center;
   
}

button{
    margin: 0 10px;
    border: none;
    font-size: 20px;
    padding: 5px 5px;
    border: 2px solid grey;
    border-radius: 5px;
    

}
#startBtn{
    background-color: rgb(38, 169, 38);
    color: white;
}
 #resetBtn{
    background-color: rgb(206, 62, 62);
    color: white;
}
 #stopBtn{
    background-color: rgb(68, 170, 205);
    color: white;
}



