body{
    margin:0px;
    padding:10px;
    
}

#input-el{
    padding: 5px 5px;
    margin: 3px;
}

#input-btn{
    padding: 5px;
    margin-left: 3px;
    border-radius: 5px;
    border: none;
    color: white;
    background: darkcyan;
    font-weight: bold  ;

}
input{
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    box-sizing: border-box;
}

