body{
    margin:0px;
    padding:10px;
    min-width: 400px;
    
}

#input-el{
    padding: 5px 5px;
    margin: 3px;
}

#input-btn{
    padding: 5px;
    margin-left: 3px;
    border-radius: 5px;
    border: none;
    color: white;
    background: darkcyan;
    font-weight: bold  ;

}
input{
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    box-sizing: border-box;
    
}

ul{
list-style: none;
padding-left: 0;
margin-top: 20px;

}

li{
   margin-top: 3px;

}

a{
   color: rgb(28, 133, 133);
}

#delete-btn{
    padding: 5px;
    margin-left: 3px;
    border-radius: 5px;
    border: darkcyan 1px solid;
    color: darkcyan;
    font-weight: bold  ;
}

#tab-btn{
    
        padding: 5px;
        margin-left: 3px;
        border-radius: 5px;
        border: none;
        color: white;
        background: darkcyan;
        font-weight: bold  ;
    
    
}